<h1><%= @user.user_name %>のユーザーページ</h1>
<h3><%= t('user.name')%></h3>
<%= @user.user_name%>
<h3><%= t('user.email')%></h3>
<%= @user.email %>
<h3><%= t('user.postal_code')%></h3>
<%= @user.postal_code%>
<h3><%= t('user.address')%></h3>
<%= @user.address%>
<h3><%= t('user.introduce_yourself')%></h3>
<%= @user.introduce_yourself%>
